{% macro max(a, b) %}
    {%- if a < b %}{{ b }}{% else %}{{ a }}{% endif -%}
{% endmacro %}

{% macro min(a, b) %}
    {%- if a < b %}{{ a }}{% else %}{{ b }}{% endif -%}
{% endmacro %}

{%- macro page_to_item(pagination, page) -%}
    {{ (page - 1) * pagination.per_page + 1 }}
{%- endmacro -%}

{% macro render_pagination(pagination, view, mode, tags) %}
<div class=pagination>
{%- for page in pagination.iter_pages() %}
    {% if page %}
        {% if page != pagination.page -%}
            <a href="{{ url_for(view, mode=mode, page=page, tags=tags) }}">{{ page_to_item(pagination, page) }}</a>
        {% else %}
            <strong>{{ page_to_item(pagination, page) }}</strong>
        {%- endif %}
    {% else %}
        <span class=ellipsis>…</span>
    {% endif %}
{%- endfor %}
</div>
{% endmacro %}

{% macro remove_prefix(str, prefix) -%}
{{ str|replace(prefix, '') }}
{%- endmacro %}
